.bink-CMLink-form {
  margin-top: 50px;
}
.btn-getcode {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 0;
}

.bink-info {
  padding: 30px;
  background-color: #f1f1f1;
  .bink-content {
    width: 80%;
    margin: 0 auto;
  }
}

.bink-form {
  margin-top: 30px;
}

.bind-sim {
  margin: 50px 0;
}