.btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;

  &:hover, &:focus {
    background-color: #333;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
  }

  .subtitle {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  } 
}

.btn-black {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;

  &:hover, &:focus {
    background-color: #fff;
    color: #333
  }
}

.login-member {
  .login {
    font-weight: 600;
    margin-left: 5px;
  }
}
.condition-action {
  .action-link {
    margin-left: 5px;
    font-weight: 600;
  }
}

a:hover, a:focus {
  color: #333;
} 
