.grid-container
  .banner
    h1.title CMI Membership Club
    p One membership allows you to manage all your CMI services. No matter you are travelling, studying or living overseas, you can always stay well connected with CMI.
    a(href="#" class="button") 
      span CREATE AN ACCOUNT
      span (Get your free account in 2 steps)
