include ../mixins/all
  section.benefit-item
    .benefit-icon
      span ICON 
    .benefit-heading 关联家乡号
    p.description Never miss any SMS and Call from your China mobile no. when you are at overseas.
    +btn-default('LEARN MORE', '')
  
