
.menu.clearfix
  a(href="#" title="logo").logo.float-left
    img(src="./assets/img/logo.jpg")
  ul.menu-right.float-right.align-right
    li.login-block
      span Already a member?
      a(href="#" title="login").login Login
    li.language-en
      a(href="#" title="english") EN
    li.language-ch
      a(href="#" title="english") 简


     
