include ../mixins/all
.menu.clearfix
  a(href="#" title="logo").logo.float-left
    img(src="./assets/img/logo.jpg")
  ul.menu-right.float-right.align-right
    li.login-block
      span Already a member?
      +link("login", "#", "Login").link.login
    li.lang-en
      +link("english", "#", "EN").link.english
    li.lang-china
      +link("简", "#", "简").link.china
      


     
