extends ../layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -lang = 'en'

block container
  +banner("CMI Membership Club",  "One membership allows you to manage all your CMI services. No matter you are travelling, studying or living overseas, you can always stay well connected with CMI.", 'CREATE AN ACCOUNT', '(Get your free account in 2 steps)', "form-login.html") 
  
  include ../components/benefit.pug
