
include ../mixins/all
section.benefit
  .grid-container
    h2.title-block.text-center Offers and Benefits for CM member only
    .grid-x.grid-margin-x
      .medium-6.large-6.cell
        .benefit-item.text-center
          .benefit-content.centered
            .benefit-icon
              span ICON 
            .benefit-heading 关联家乡号
            p.description Never miss any SMS and Call from your China mobile no. when you are at overseas.
            +btn-default('LEARN MORE', '')
      .medium-6.large-6.cell
        .benefit-item.text-center
          .benefit-content.centered
            .benefit-icon
              span ICON 
            .benefit-heading 关联家乡号
            p.description Never miss any SMS and Call from your China mobile no. when you are at overseas.
            +btn-default('LEARN MORE', '')