
include ../mixins/all
section.benefit
  .grid-container
    h2.title-block.text-center My CMI Services
    .grid-x.grid-margin-x
      .medium-4.large-4.small-12.cell
        .cmi-service-item
          .service-icon 
            span
              img(src="./assets/img/sim.png")
          .service-content
              p.heading-service
              h1.text-phone 07410-173-325
              ul.info-service
                li.info-service-item
                  span.icon-service 
                    img(src="./assets/img/icon.png")
                  span.text-service 500MB / £5
                li.info-service-item
                  span.icon-service 
                    img(src="./assets/img/icon.png")
                  span.text-service 关联家乡号
          +btn-link-icon('MANAGE', "./assets/img/icon-btn.png", "#")(class="expanded btn-service")
      .medium-4.large-4.small-12.cell
        .cmi-service-item
          .service-icon 
            span
              img(src="./assets/img/sim.png")
          .service-content
              p.heading-service
              h1.text-phone 07410-173-325
              ul.info-service
                li.info-service-item
                  span.icon-service 
                    img(src="./assets/img/icon.png")
                  span.text-service 500MB / £5
                li.info-service-item
                  span.icon-service 
                    img(src="./assets/img/icon.png")
                  span.text-service 关联家乡号
          +btn-link-icon('MANAGE', "./assets/img/icon-btn.png", "#")(class="expanded btn-service")
      .medium-4.large-4.small-12.cell
        .cmi-service-item
          .service-icon 
            span
              img(src="./assets/img/sim.png")
          .service-content
              p.heading-service
              h1.text-phone 07410-173-325
              ul.info-service
                li.info-service-item
                  span.icon-service 
                    img(src="./assets/img/icon.png")
                  span.text-service 500MB / £5
                li.info-service-item
                  span.icon-service 
                    img(src="./assets/img/icon.png")
                  span.text-service 关联家乡号
          +btn-link-icon('MANAGE', "./assets/img/icon-btn.png", "#")(class="expanded btn-service")
        
        