.your-mobile
  .your-mobile-content
    h1.title-block Your mobile number
    .grid-x.grid-margin-x.cmlink-number
      .large-12.medium-12.small-12
        .medium-6.large-6.cell.number-right
          .sim-icon
            img(src="./assets/img/sim.png")
          .number-text
            p.subtitle CMLink Number
            .number-option
              p.phone-number 07410-173-325
              select.select-number
                option Change
                option 07410-173-325

          

        .medium-6.large-6.cell.current-balance.text-right 
          p.subtitle Current Balance
          p.number-price £4
